<div class="row">
  <div class="col-md-5">
    <img
      width="435"
      height="435"
      src="https://media.giphy.com/media/Q8avpf0vPlfrCGr9sZ/giphy-downsized-large.gif"
      alt=""
    />
  </div>
  <div class="col-md-7 my-auto">
    <p>
      Este site e seus criadores não são afiliados com a série Irmão do Jorel.
    </p>
    <p>
      Toda informação apresentada são marcas comerciais e direitos autorais de
      seus proprietários.
    </p>
    <p>
      Desenvolvido por
      <a href="https://github.com/billklinton" target="_blank">
        Bill Klinton
        <i class="material-icons">computer</i>
      </a>
    </p>
  </div>
</div>
