span{
  font-weight: 500;
}

.row{
  margin-bottom: 7px;
}

.card{
  padding: 15px;
}

hr{
  margin: 20px auto 20px auto;
}

a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(80, 80, 80);
}
