<div class="container">
  <div *ngIf="personagens$ as personagens">
    <app-input-form [placeholder]="'Buscar personagem'" (textoBuscaEvent)="buscar($event)"></app-input-form>
    <div class="row">
      <div class="col-md-4" *ngFor="let personagem of personagens">
        <app-card-personagens [personagem]="personagem"></app-card-personagens>
      </div>
    </div>
  </div>
  <app-spinner [carregando]="carregando"></app-spinner>
  <app-recurso-nao-encontrado
    *ngIf="erro"
    [mensagem]="'Personagens não foram encontrados :('"
  ></app-recurso-nao-encontrado>
</div>
